<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <header>

  </header>
  <main>
    <% if(nuevoUsuario === undefined) {%>
       <form action="/" method="POST">

      <label for="nombre">Ingrese su nombre</label>
      <input type="text" id="nombre" name="nombre" required>

      <br>

      <label for="color">Elija un color</label>
      <select name="color" id="color" required>

        <option value="" selected hidden>Color</option>
        <option value="rojo">Rojo</option>
        <option value="azul">Azul</option>
        <option value="verde">Verde</option>
        <option value="amarillo">Amarillo</option>
        <option value="gris">Gris</option>


      </select>

      <br>

      <label for="email">Ingrese su email</label>
      <input type="email" id="email" name="email" required>

      <br>

      <label for="edad">Ingrese su edad</label>
      <input type="numbre" id="edad" name="edad" >

      <br>

      <button type="submit">Enviar</button>
      <button type="reset">Borrar</button>



    </form>
    
    
    

      
      <% }else{%>
        <p>
          Hola <%= nuevoUsuario.nombre %>  , elegiste el color: <%= nuevoUsuario.color %> , tu email es:
          <%= nuevoUsuario.email %> y tu edad es: <%= nuevoUsuario.edad %>
        </p>

      
    
    
    <% } %> 
  </main>
  <footer>

  </footer>

  
</body>
</html>
