<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: <%= locals.backgroundColor ? locals.backgroundColor : null %>;">

    <h1><%= locals.userName ? locals.userName : null  %>, gracias por visitarnos.</h1>

    
    
</body>
</html>